# Resend API Key
# Get your API key from: https://resend.com/api-keys
RESEND_API_KEY=re_xxxxxxxxxxxxx

# Google reCAPTCHA v3
# Get your keys from: https://www.google.com/recaptcha/admin/create
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LdTI1YsAAAAAHRh4YqhdNp0A8WGNEyNaICeb9LP
RECAPTCHA_SECRET_KEY=6LdTI1YsAAAAAJn-3X0UQoy3786jOEFVlJ3NtKIl
